*{
    padding: 0;
    margin: 0;
}
#nav-ber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #2D236A;
    color: white;
    /* padding-left: 30px; */
}
.nav-logo{
    padding-left: 50px;
}
#nav-ber ul{
    display: flex;
    padding-right: 50px;
}
#nav-ber ul li{
    list-style-type: none;
    margin: 0px 15px;
}
#nav-ber ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 10px;
    transition: 0.5s;
}
#nav-ber ul li a:hover,a.ackor-tag-one{
    background-color: #7366c5;
    border-radius: 8px;
}
#click{
    display: none;
}
.icon-lebel{
    display: none;
}

/* responsive code star */

@media only screen and (max-width: 940px) {
    #nav-ber ul{
        position: fixed;
        top: 80px;
        left: -200%;
        background-color: #2D236A;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;
    }
    #nav-ber ul li{
        margin: 50px 0;
        font-size: 22px;
    }
    #nav-ber ul li a:hover,a.ackor-tag-one{
        background: none;
        color: red;
    }
    .icon-lebel{
        display: block;
        padding-right: 70px;
        font-size: 30px;

    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .icon-lebel i::before{
        content: "\f00d";

    }
}

/* header section code start here */

header{
    background-image: url('images/bg-digital.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
}

/* section two code start here */

#section-two{
    background-color: #2E86C1;
    padding-bottom: 100px;
}

.section-two-title{
    text-align: center;
    padding: 50px;
    font-size: 22px;
    font-weight: bold;
}
.section-single-div-prent{
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin-top: 15px;
}
.section-single-div{
    background-color: white;
    text-align: center;
    padding: 20px 30px;
    border-radius: 8px;
    border: 3px solid #EC7063;
    box-shadow: 8px 8px 15px #ABEBC6 ;
    transition: 0.5s;
}
.section-single-div i{
    font-size: 35px;
    margin: 15px 0;
}
.section-single-div h2{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.section-single-div:hover{
    background-color: #F9E79F ;
}

/* section three code start here */
.section-three{
    background-color: #73C6B6;
    padding: 50px 0px 100px 0px;
}
#section-three-parent{
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-three-img img{
    width: 300px;
    height: 300px;
    /* margin-right: 50px; */
}
.section-three-text{
    color: white;
    margin-left: 40px;
}
.section-three-text h5{
    font-size: 20px;
    color: orange;
}
.section-three-text h4{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

/* section vanila code start here */

#section-vanila{
    background: linear-gradient(#000000c0,#000000bb), url('images/blog8.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px 70px 0;
}
#section-master-maind-div{
    margin: 100px 200px 50px 200px;
    display: flex;
    color: white;
    gap: 20px;
}
.vanila-frist-text-and-ul{
    margin-top: 40px;
}
.vanila-frist-text-and-ul ul li{
    margin-left: 10px;
    font-weight: bold;
}
.vanila-frist-text-and-ul a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    background-color: orange;
    color: black;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 8px;
}
.vanila-frist-text-and-ul h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.vanila-frist-text-and-ul p{
    margin: 20px 0px;
    font-weight: bold;
}
.vanila-text-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.vanila-single-box{
    background-color: #d6d6d6;
    padding: 20px 40px;
    color: black;
    text-align: center;
    border: 3px solid green;
    border-radius: 8px;
}
.vanila-single-box h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.vanila-single-box p{
    text-align: center;

}

/* section listen code start here */

#section-listen{
    background-color: #2980B9;
}
.section-parent-programmers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 100px 0;
}
.section-single-programmers h3{
    font-size: 25px;
    margin-top: 10px;

}
.section-single-programmers p{
    margin-top: 15px;
}
.section-programmers-img img{
    width: 400px;
    height: 290px;
    border-radius: 10px;
}
.section-programmers-icon a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 10px 5px;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 15px;
    transition: 0.5s;
}
.section-programmers-icon a:hover{
    background-color: white;
}
.section-single-programmers h4{
    font-size: 25px;
    border-bottom: 2px solid brown;
    padding-bottom: 10px;
}
.section-single-programmers a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 8px 20px;
    border-radius: 15px;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
}
.section-single-programmers a{
    background-color: #EC7063;
}










/* section two madia  */

@media only screen and (max-width:688px) {

    /* second section responsive code here */

    .section-single-div-prent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        width: 100%;
    }
    /* three section responsive code here */

    #section-three-parent{
        margin-right: 30px;
        margin-left: 30px;
        display: block;
    }
    .section-three-img img{
        width: 100%;
        margin-bottom: 50px;
    }
    .section-three-text p{
        font-size: 22px;
    }
    /* section vanila code start here */

    #section-master-maind-div{
        margin-left: 30px;
        margin-right: 30px;
        display: block;
        color: white;
    }
    .vanila-text-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    /* section listen */
    .section-parent-programmers{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        padding: 100px 0;
    }
    .section-programmers-img img{
        width: 100%;
    }

}

@media only screen and (min-width: 689px) and (max-width: 1099px) {

    /* first section responsive code here*/

    .section-single-div-prent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        width: 100%;
    }
    /* three sectionn-reponsive code here */
    #section-three-parent{
        margin-right: 70px;
        margin-left: 70px;
        display: block;
    }
    .section-three-img img{
        width: 100%;
        margin-bottom: 50px;
    }
    .section-three-text p{
        font-size: 22px;
    }
    /* section vanila code start here */

    #section-master-maind-div{
        margin-left: 70px;
        margin-right: 70px;
        display: block;
    }
    .vanila-text-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 50px;
    }
      /* section listen */
     .section-parent-programmers{
         display: block;
         margin-left: 30px;
         margin-right: 30px;
         padding: 100px 0;
        }
    .section-programmers-img img{
        width: 100%;
        }
}